server:
  port: 8080

spring:
  main:
    web-application-type: servlet
  application:
    name: esi-food
  datasource:
    url: jdbc:postgresql://aws-1-eu-north-1.pooler.supabase.com:5432/postgres
    username: postgres.gspxryqjsowgvtqsollj
    password: T7eKMYvvs_?jeW_
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true

logging:
  level:
    org:
      springframework:
        web: DEBUG
        orm: DEBUG
        jdbc: DEBUG
    es.uca.esifood: DEBUG