server:
  port: 8080

spring:
  main:
    web-application-type: servlet
  application:
    name: esi-food
  datasource:
    url: jdbc:postgresql://aws-1-eu-north-1.pooler.supabase.com:5432/postgres
    username: postgres.gspxryqjsowgvtqsollj
    password: T7eKMYvvs_?jeW_
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      auto-commit: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true
      hibernate.jdbc.batch_size: 20
      hibernate.order_inserts: true
      hibernate.order_updates: true

logging:
  level:
    org:
      springframework:
        web: DEBUG
        orm: DEBUG
        jdbc: DEBUG
    es.uca.esifood: DEBUG